APP_NAME="PCOS Risk Assessment API"
ENVIRONMENT="development"

DB_DRIVER="postgresql+psycopg2"
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="pcos_db"
DB_USER="postgres"
DB_PASSWORD="your_postgres_password"


SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

MAILTRAP_HOST="sandbox.smtp.mailtrap.io"
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
MAIL_FROM="noreply@pcos-app.test"