APP_NAME="PCOS Risk Assessment API"
ENVIRONMENT="development"

DB_DRIVER="postgresql+psycopg2"
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="pcos_db"
DB_USER="postgres"
DB_PASSWORD="your_postgres_password"


SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

EMAIL_PROVIDER=resend


MAILTRAP_HOST="sandbox.smtp.mailtrap.io"
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
MAIL_FROM="noreply@pcos-app.test"

GMAIL_APP_PASSWORD=
GMAIL_APP=
SMTP_SERVER=
GMAIL_FROM=
GMAIL_PORT=587

RESEND_API_KEY=
RESEND_FROM=